.menu, .submenu {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0; }

.menu {
  display: flex; }

.submenu {
  position: absolute;
  transform-origin: top center;
  transform: scale(1, 0);
  transition: transform .2s; }
  .submenu ul {
    top: 0;
    left: 100%; }

[class^="menu-item"] {
  background-color: gray;
  position: relative; }
  [class^="menu-item"]:hover {
    background-color: rebeccapurple; }
    [class^="menu-item"]:hover > .submenu {
      transform: scale(1, 1); }

[class^="menu-link"] {
  display: block;
  text-decoration: none;
  padding: 1.5em 1em;
  color: wheat;
  white-space: nowrap; }
