body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }

.transicion {
  color: red;
  background-color: yellow;
  position: relative;
  transition-property: color , background-color ,transform, left;
  transition-duration: 2s,2s,2s,2s;
  transition-delay: 2s,2s,0s,2s;
  transition-timing-function: ease;
  padding: 1rem; }

div hover .transicion {
  color: rebeccapurple;
  background-color: aqua;
  transform: translateY(-20%);
  left: -1000%; }
