@charset "UTF-8";
.caja {
  width: 300px;
  height: 300px;
  background-color: red;
  border-radius: 50%;
  border: 1px solid rebeccapurple; }

@keyframes tamaño {
  to {
    width: 400px;
    height: 400px; } }

.caja:nth-of-type(2) {
  background-color: #360b0b;
  will-change: transform;
  animation: escala 1s infinite alternate linear; }

@keyframes escala {
  to {
    transform: scale(1.5); } }
