//EJERCIO DE TRANSICIONES

.pelota{
    width: 5rem;
    height: 5rem;
    background-color: peru;
    border-radius:50%;
    position: absolute;
    left:0;
    top: 0;
    transition: left .5s,
                top  .5s .5s ;
    .animar &{
        left:calc(100vw - 5rem);
        top:calc(100vh - 5rem);
    }
    
}


body{

    min-height: 100vh;
    // min-width: 100vw;
    display: flex;
    
}

#boton{
    margin: auto;
    //background-color: red;
}



